@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat";
    padding: 0;
    margin: 0;
}

main{
    display: flex;
    width: 100%;
    height: 100vh;
}

.sidebar{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    border-right: 2px solid #ddd;
}

.main-content{
    width: 70%;
    height: 100%;
    background-color: #fcfcfc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.profile-top{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid #ddd;
    box-sizing: border-box;
}

.profile-top img{
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    border-color: #f5f7fb;
    transition: 0.3s ease, 0.3s ease;
    position: relative;
}

.profile-top img:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.profile-info{
    display: flex;
    flex-direction: column;
}

.profile-info span{
    color: grey;
}

.menu-icon{
    margin-left: auto;
    font-size: 1.5rem;
    cursor: pointer;
}

.actions{
    display: flex;
    justify-content: center;
}

.new-chat-btn{
width: 50%;
font-size: 0.8rem;
cursor: pointer;
background-color: #61469e;
color: #ffffff;
border: none;
padding: 10px 20px;
margin: 20px 0;
border-radius: 4px;
transition: 0.4s ease-in-out;
}

.new-chat-btn:hover{
    background-color: #004494;
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.chat-profile{
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 5px 10px;
    border-radius: 12px;
    cursor: pointer;
    background-color: transparent;
    transition: 0.3s ease, 0.3s ease, 0.3s ease ;
    position: relative;
    border-bottom: 1px solid #f0f0f0;
}

.chat-profile:hover{
    background-color: #f5f7fb;
    border-bottom-color: transparent;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    transform: translateY(-2px);
}

.chat-profile img{
    width: 55px;
    height: 55px;
    margin: 1rem;
    margin-right: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.chat-info{
    display: flex;
    flex-direction: column;
}

.chat-info h2{
    font-size: 1rem;
    margin: 0;
}

.main-menu{
    max-width: 500px;
    padding: 40px;
    background-color: #fcfcfc;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.main-menu img{
    width: 180px;
    height: 180px;
    border-radius: 10px;
    border: 2px solid #61469e;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(97, 70, 158, 0.4);
}

.main-menu h1{
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 15px;
    font-weight: 800;
}

.main-menu p{
    color: #777;
    line-height: 1.6;
    font-size: 1.1rem;
    max-width: 400px;
    margin: 0 auto;
}

.version{
    font-size: 0.8rem;
    color: #999;
    font-style: italic;
}
